.our_story {
  height: 31.875rem;
  flex-shrink: 0;
  width: 100%;
  align-items: start;
  align-content: center;
  justify-content: center;

  .our_story_contant {
    display: flex;
    width: 19.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  display: flex;
  position: absolute;
  top: 121rem;
  h1 {
    color: var(--Black, #333);
    font-family: 'Markazi Text';
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h2 {
    margin-top: -0.5rem;
    color: var(--Yellow, #f4ce14);
    font-family: 'Markazi Text';
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h4 {
    color: var(--Black, #333);
    font-family: 'Markazi Text';
    margin-top: -3rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p,
  span {
    color: var(--Paragraf, rgba(51, 51, 51, 0.65));
    font-family: Karla;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    width: 50rem;
    margin-right: 2rem;
    line-height: normal;
  }
  span {
    width: 100%;
  }
}
.our_story_photos {
  position: relative;
  width: 30rem;
  margin-top: 3rem;
}
.our_story_photos_1,
.our_story_photos_2 {
  width: 14.5rem;
  height: 19.625rem;
}
.our_story_photos_1 {
  position: absolute;
  top: 4rem;
  left: 16rem;
  z-index: 1;
  border-radius: 1rem;

  box-shadow: -4px 2px 4px 0px rgba(237, 239, 238, 0.65),
    0px 4px 8px 0px rgba(237, 239, 238, 0.25);
}
.our_story_photos_2 {
  position: absolute;
  left: 4rem;
  top: 10rem;
  border-radius: 1rem;
}
