@import '../variables.module';

.customer_say {
  top: 83.69rem;
  position: absolute;
  display: grid;
  height: 31.875rem;
  flex-shrink: 0;
  width: 100%;
  align-items: start;
  align-content: center;
  justify-content: center;
  background-color: $color-dark-green;
  h1 {
    color: var(--White, #fff);
    font-family: 'Markazi Text';
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.customer_say_ul {
  display: flex;
  margin-top: 2rem;

  .rating_li {
    display: flex;
    margin: 0.625rem;
    width: 12.5rem;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-light-gray;
    border-radius: $border-radius;
    h2 {
      top: 2rem;
      text-align: center;
      margin: 0em 1rem 0rem 1rem;
      color: var(--Black, #333);
      font-family: 'Markazi Text';
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    p {
      margin: 1rem 1rem 2rem 1rem;
      color: var(--Paragraf, rgba(51, 51, 51, 0.65));
      font-family: Karla;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .stars_rating {
      margin-top: 0.5rem;
    }
    img {
      margin-top: 1rem;
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 1.875rem;
      background: lightgray 50% / cover no-repeat;
    }
  }
}
