@import './../variables.module';

header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  align-items: center;
  .header_logo {
    height: 3rem;
    margin: 0 7rem 0 1rem;
  }
  nav {
    margin-left: 2rem;
  }
  ul {
    display: flex;
    list-style-type: none;

    li > a {
      color: $color-dark-gray;
      margin: 0 0.75rem;
      text-decoration: none;
      font-family: Karla;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}
