@import '../mixins.module';
.specials {
  position: absolute;
  margin-top: 33.5rem;
  display: flex;
  justify-content: center;
  height: 19.6875rem;
  flex-shrink: 0;
  width: 100%;

  .group_tittle_and_btn {
    position: absolute;
    display: flex;
    margin-top: 1.5rem;
    width: 54rem;
    justify-content: space-between;
    button {
      @include button-component-style;
      position: unset;
      cursor: pointer;
    }
    button:hover {
      transition: 0.1s;
      background-color: #dab912;
      box-shadow: #dab912 0.03px 0.09px 0.8px 0.2px;
    }
    h1 {
      font-family: 'Markazi Text';
      font-size: 3.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .list_cards {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 10.5rem;
    .card {
      display: flex;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      height: 33.5625rem;
      flex-direction: column;
      margin: 0 1rem;

      flex-wrap: wrap;
      align-content: stretch;
      background-color: $color-light-gray;
      width: 17rem;
      .img_card {
        position: absolute;
        height: 14.25rem;
        width: 17rem;
        flex-shrink: 0;
        align-self: center;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      .header_card {
        position: absolute;
        margin: 16.5rem 1.5rem 0rem 1.5rem;
        display: flex;
        width: 14rem;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        h3 {
          color: $color-dark-gray;
          font-family: 'Markazi Text';
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }
        span {
          color: $color-orange;
          font-family: Karla;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      main {
        width: 14rem;
        margin-top: 18.94rem;
        height: 7.125rem;
        align-self: stretch;
        p {
          @include p-component-style;
          color: $color-dark-gray;
        }
      }
      footer {
        margin: 2rem 1.5rem 0rem 1.5rem;
        display: flex;
        align-items: center;
        width: 14rem;
        .order_button {
          display: block;
          position: absolute;
          color: $color-dark-gray;
          margin-top: 8rem;
          font-family: Karla;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          line-height: 1.2;
          cursor: pointer;
        }

        .delivery_logo {
          display: inline-block;
          position: absolute;
          margin-top: 0rem;
          margin-left: 1rem;
          width: 1.5rem;
          height: 1.5rem;
          color: $color-dark-gray;
        }
      }
    }
  }
}

.list_cards li:hover {
  transform: rotateX(4deg);
  transition: 0.5s;
  box-shadow: 0 1px 10px 2px rgba(164, 146, 6, 0.5);
}
